/*CSS reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Generics*/
body{
    background-color: rgb(158, 158, 158);
    padding: 10px;
}
h1{
    display: inline;
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
    height: 30px;
    vertical-align: middle;
}
form{
    text-align: center;
    padding-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
ul{
    list-style-position: inside;
    font-family: Arial, Helvetica, sans-serif;

}
/*Utilties*/
.title{
    background-color: rgb(158, 158, 158);
    height: 55px;
    width: 180px;
    border-radius: 10px;
}
.conteiner{
    max-width: 60%;
    margin: 0 auto;
    background-color: white;
    border-radius: 5px;
}
/*Header*/
#blockimg{
    vertical-align: middle;
    width: 30px;
    height: 32px;
}
/*Section*/
#button1{
    background-color: rgb(61, 172, 252);
    border: solid rgb(49, 141, 207);
    color: white;
    font-weight: bold;
    border-radius: 5px;
    font-size: small;
}
#button2{
    background-color: rgb(255, 255, 255);
    border: solid rgb(121, 121, 121);
    color: rgb(159, 159, 159);
    font-weight: bold;
    border-radius: 5px;
    font-size: small;
    text-align: center;
}

    

